#summonerIconImg {
  width: 43px;
}

/* .champLevel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 2px;
  border-radius: 2px;
  background: rgb(245, 245, 245);
} */

/* .game .bar {
  width: 48px;
  height: 1px;
  margin: 8px 0px 4px;
  background-color: #2f436e;
} */
