body {
  padding: 100px 250px 0px 250px;
}

.summonerFrofileInfo {
  text-align: left;
}

#userIconImg {
  float: left;
  border-radius: 10%;
}

.name {
  font-weight: bold;
}

.level {
  font-size: 15px;
  position: absolute;
}
.searchGameInfo {
  padding-bottom: 50px;
  text-align: left;
}

.summonerRankInfo {
  text-align: right;
}
