main {
  /* margin: 0px auto; */
  /* padding-top: 100px; */
  /* width: 1200px; */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#userIconImg {
  /* float: left; */
  border-radius: 12%;
  max-width: 100%;
}

.level {
  font-size: 12px;
  background-color: rgb(32, 45, 55);
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  border-radius: 10px;
  line-height: 10px;
  position: relative;
  top: -10%;
}

/* .summonerName {
  font-weight: bold;
  text-align: left;
  padding: 0px 8px;
  border-radius: 10px;
  line-height: 10px;
  position: relative;
  top: 37%;
} */

/* .searchGameInfo {
  text-align: left;
} */

/* .summonerRankInfo {
  text-align: right;
} */
