* {
  /* padding: 30px; */
  /* margin: 20px; */
}

/* #userIconImg {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: 85px;
  border-radius: 20px;
} */

/* .summonerName {
  margin-top: 40px;
} */

/* .level {
  height: 20px;
  margin-top: -11px;
  text-align: center;
} */

/* .level {
  font-size: 12px;
  background-color: rgb(32, 45, 55);
  color: rgb(255, 255, 255);
  padding: 0px 8px;
  border-radius: 10px;
  line-height: 10px;
  position: relative;
  top: -10%;
} */

/* .summonerName {
  font-weight: bold;
  text-align: left;
  padding: 0px 8px;
  border-radius: 10px;
  line-height: 10px;
  position: relative;
  top: 37%;
} */

/* .searchGameInfo {
  text-align: left;
} */

/* .summonerRankInfo {
  text-align: right;
} */
